body {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  #game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  
  button {
    background-color: #4ca3af;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
  #result {
    margin-top: 50px;
    font-size: 36px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  